{% extends  'base.html' %}
{% load bootstrap_icons %}
{% block title %}
    Публикации
{% endblock title %}

{% block content %}
    <h3 class="text-center py-3">Публикации:</h3>
    <div class="container col-12 col-md-10">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Публикация</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        {% for news in newslist %}
            <tr class="my-auto align-items-center">
                <th scope="row" class="my-auto">{{ forloop.counter }}</th>
                <td class="my-auto align-items-center">{{ news.title }}</td>
                <td class="my-auto text-end"><a class="btn btn-success my-0 py-1" href="{% url 'contentmanagment:addNews' news.id %}">{% bs_icon 'pencil-fill' size='1.3em' %} </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}