{% extends  'base.html' %}
{% load bootstrap_icons %}
{% block title %}
    Тэги новостей
{% endblock title %}

{% block content %}
    <h3 class="text-center py-3">Редактирование тегов:</h3>
    <div class="container col-12 col-md-10">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Тэг</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr class="my-auto align-items-center">
                <th scope="row" class="my-auto py-auto text-center" style="width: 50px;">{{ forloop.counter }}</th>
                <td class="my-auto py-auto align-items-center">{{ tag.description }}</td>
                <td class="my-1 py-1" style="width: 50px;"><a class="btn btn-success" href="{{ tag.get_absolute_url }}">{% bs_icon 'pencil' size='1.3em' %}</a></td>
            </tr>
        {% endfor %}
            <form method="post">
                {% csrf_token %}
                <tr class="my-auto align-items-center">
                    <th scope="row" class="my-auto text-center" style="width: 50px;"></th>
                    <td class="my-auto py-auto align-items-center">{{ form.description }}</td>
                    <td class="my-auto" style="width: 50px;"><button type="submit" class="btn btn-success">{% if id != None %}{% bs_icon 'pencil-fill' size='1.3em' %}{% else %}{% bs_icon 'plus-square-fill' size='1.3em' %}{% endif %} </button></td>
                </tr>
            </form>
        </tbody>
    </table>
</div>
{% endblock content %}