{% extends  'base.html' %}
{% load bootstrap5 %}
{% block title %}
    {% if group %}Редактирование группы доступа{% else %}Добавление группы доступа{% endif %}
{% endblock title %}

{% block content %}
<h1 class="text-center py-3">Группа доступа{% if group %} {{ group.name }}{% endif %}:</h1>
<form class="form col-10 col-lg-8 mx-auto py-2" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        {% if group %}
            <button type="button" class="btn btn-success me-md-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Удалить группу
            </button>
            {% bootstrap_button "Изменить группу" button_type="submit" button_class="btn-success float-end" %}
        {% else %}
            {% bootstrap_button "Добавить группу" button_type="submit" button_class="btn-success float-end" %}
        {% endif %}
    </div>

</form>
{{ form.media.js }}
{% if group %}
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Вы действительно хотите удалить группу доступа?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ group.name }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Отмена</button>
                    <a class="btn btn-success" href="{% url 'users:removegroup' group.id %}" role="button">Удалить</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End modal -->
{% endif %}
{% endblock content %}