{% extends  'base.html' %}
{% load bootstrap_icons %}
{% block title %}
    Пользователи
{% endblock title %}

{% block content %}

    <script type="text/javascript">
        function tableSearch() {
            var phrase = document.getElementById('search-user');
            var table = document.getElementById('user-table');
            var regPhrase = new RegExp(phrase.value, 'i');
            var flag = false;
            for (var i = 1; i < table.rows.length; i++) {
                flag = false;
                for (var j = table.rows[i].cells.length - 1; j >= 0; j--) {
                    flag = regPhrase.test(table.rows[i].cells[j].innerHTML);
                    if (flag) break;
                    }
                if (flag) {
                    table.rows[i].style.display = "";
                } else {
                    table.rows[i].style.display = "none";
                    }

            }
        }
    </script>

    <h3 class="text-center py-3">Пользователи:</h3>
    <div class="container col-12 col-md-10">
        <input class="form-control my-2" type="text" placeholder="Фамилия или имя или e-mail пользователя" id="search-user" onkeyup="tableSearch()" >
    </div>
    <div class="container col-12 col-md-10">
    <table class="table table-striped" id="user-table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Пользователь</th>
            <th scope="col">Email</th>
            <th scope="col">Активность</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr class="my-auto align-items-center">
                <th scope="row" class="my-auto py-auto text-center" style="width: 50px;">{{ forloop.counter }}</th>
                <td class="my-auto py-auto">{{ customer.last_name }} {{ customer.first_name }}</td>
                <td class="my-auto py-auto">{{ customer.email }}</td>
                <td class="my-auto py-auto">{% if customer.is_active %}{% bs_icon 'check-circle' size='1.5em' %}{% else %}{% bs_icon 'x-circle' size='1.5em' %}{% endif %}</td>
                <td class="my-auto py-auto" style="width: 50px;"><a class="btn btn-success py-0 my-0" href="{{ customer.get_absolute_url }}">{% bs_icon 'pencil-fill' size='1em' %}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-flex align-items-center justify-content-center py-2">
        <a class="btn btn-success" href="{% url 'users:registration' %}" role="button">Добавить пользователя</a>
    </div>
</div>
{% endblock content %}