{% extends  'base.html' %}

{% block title %}
    Профиль пользователя 
{% endblock title %}

{% block content %}
<h1 class="text-center py-3">Профиль пользователя</h1>
<form action="{% url 'users:profile' %}" class="form col-10 col-lg-8 mx-auto" method="POST">
    {% csrf_token %}
    {% include "rendering_form.html" %}
    <div class="mb-3 d-flex justify-content-center">
        <button class="btn btn-success float-center" type='submit'>Изменить</button>
    </div>
</form>

<h1 class="text-center py-3">Изменение пароля</h1>
<form action="{% url 'users:profile' %}" class="form col-10 col-lg-8 mx-auto" method="POST">
    {% csrf_token %}
    {% for field in form_change_password %}
    <div class="mb-3">
        <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}:</label>
        {{ field }}
        <div class="form-error">
            {{ f.errors }}
        </div>
    </div>
{% endfor %}
    <div class="mb-3 d-flex justify-content-center">
        <button class="btn btn-success float-center" type='submit'>Изменить</button>
    </div>
</form>
{% endblock content %}