{% extends  'base.html' %}

{% block title %}
    Регистрация
{% endblock title %}

{% block content %}
<h1 class="text-center py-3">Регистрация нового пользователя</h1>
<form action="{% url 'users:registration' %}" class="form col-10 col-lg-8 mx-auto" method="POST">
    {% csrf_token %}
    {% include "rendering_form.html" %}
    <div class="mb-3 d-flex justify-content-center">
        <button class="btn btn-success float-center" type='submit'>Зарегистрироваться</button>
    </div>
</form>
{% endblock content %}