{% extends  'base.html' %}
{% load bootstrap5 %}
{% block title %}
    Изменение пароля
{% endblock title %}

{% block content %}
    <h1 class="text-center py-3">Изменение пароля {{ customer.last_name }} {{ customer.first_name }}</h1>
    <form class="form col-10 col-lg-8 mx-auto py-2" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button "Изменить пароль" button_type="submit" button_class="btn-success float-end" %}
    </form>
{% endblock content %}