body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 55px; 
  box-sizing: border-box;
}

footer {
  position: absolute;
  bottom: 0;
  height: 57px;
}

.pagination.page-item.active {
  bg-color: #000000;
}

.wrapper {
  position: relative;
  padding-top: 56.25%;
}
.wrapper img {
  position: absolute;
  left: 0;
  top: 0;
  margin: auto;
  max-inline-size: 100%;
  block-size: auto;
}