{% extends  'base.html' %}
{% load bootstrap5 %}
{% block title %}
    О нас
{% endblock title %}

{% block content %}
    <div class="col-10 col-lg-8 mx-auto pt-3 fw-light">
        <h2 class="text-center">О нас</h2>
        <p class="fs-4">Привет! Мы - команда энтузиастов, которые любят узнавать о последних новостях и делиться ими с другими.
            У нас работают только профессионалы своего дела, которые знают, как быстро и качественно обрабатывать большие объемы информации.
            Мы ценим ваше время, поэтому всегда стараемся предоставлять только проверенную и актуальную информацию.
            Наш сайт не только публикует новости, но и предлагает аналитические статьи на различные темы и комментарии экспертов.</p>
    </div>
{% endblock content %}