{% extends  'base.html' %}
{% load bootstrap5 %}
{% load bootstrap_icons %}
{% block title %}
    Контакты
{% endblock title %}

{% block content %}
<h3 class="text-center py-3">Связаться с администрацией сайта:</h3>
<div class="container col-12 col-md-10">
    <form method="POST" class="py-2">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button "Отправить сообщение" button_type="submit" button_class="btn-success float-end" %}
    </form>
</div>

{% endblock content %}