{% extends  'base.html' %}
{% load bootstrap5 %}
{% load bootstrap_icons %}
{% load static %}
{% block title %}
    Новости
{% endblock title %}

{% block content %}
<div class="container col-12 col-md-10 py-4">
    {% if newslist.object_list %}
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-4 g-2">

        {% for news in newslist.object_list %}
        <div class="col">
            <div class="card h-100">
                <img src="{{ news.imagesmodel_set.first.image_medium.url }}" class="card-img-top" alt="{{ news.imagesmodel_set.first.description }}" width="250px">
                <div class="card-body ">
                    <h6 class="card-text">{{ news.title|truncatewords:10 }}</h6>

                </div>
                <div class="card-footer">
                    <p class="text-secondary">Комментарии: {{ news.comments }}</p>
                    <p class="text-secondary">Автор: {{ news.newsautor }}</p>
                    <a href="{{ news.get_absolute_url }}" class="btn btn-success stretched-link float-end align-items-end">Читать</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <div class="d-flex align-items-center justify-content-center py-2">
        {% include 'render_pagination.html' with pagination=newslist search=search %}
    </div>
    {% else %}
        <h3 class="text-center pt-5">Новости не найдены</h3>
    {% endif %}
</div>
{% endblock content %}